<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h4><a href="/">Home</a></h4>
        <h4><a href="/locations">All Locations</a></h4>
        <div>
            <h1>{{store.name}}</h1>
            <div> 
                Address Line 1: {{store.addrln1}}<br>
                Address Line 2: {{store.addrln2}}<br>
                Zip: {{store.zip}}
            </div>
            <div>
                 <h3>Description:</h3>
                 {{store.description}}<br>
            </div>
            <div>
                <h3>Products</h3>
                {{#each store.Products}}
                <div> 
                <strong><a href="/product/{{id}}">{{name}}</a></strong>
                <p>
                    <strong>Name: </strong>{{name}}<br>
                    <strong>Description: </strong>{{description}}<br>
                    <strong>Brand: </strong>{{brand}}<br>
                    <strong>Quantity: </strong>{{quantity}}<br>
                    <strong>Price: </strong>${{price}}
                </p>
                </div>
                {{/each}}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
