<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h4><a href="/">Home</a></h4>
        <h4><a href="/locations">All Locations</a></h4>
        <h4><a id="user-profile-link" href="/user">User Profile</a></h4>
        <div><button id="btn-signout">Sign-Out</button></div>

        <div>
            <h1 id="store-name" data-store-id={{store.id}}>{{store.name}}</h1>
            <div> 
                {{store.addrln1}} <br>
                {{#if store.addrln2}}
                  {{store.addrln2}} <br>
                {{/if}}
                {{store.city}}, {{store.state}} {{store.zip}}
         
                <p>{{store.description}}</p>
            </div>

            <div>
                <h3>Products</h3>
                {{#each store.Products}}
                <div> 
                <strong><a href="/product/{{id}}">{{name}}</a></strong>
                <p>
                  <strong>{{brand}}</strong><br>
                  {{description}}<br>
                </p>
                </div>
                {{/each}}
            </div>

            <div>
              <h3>Community Discussion</h3>
                <div>
                    <form id="commentForm" class="clearfix mb-4" method="post">
                      <div class="form-group">
                        <h5>Tell us what's on your mind!</h5>
                        <textarea id="user-added-comment"></textarea>
                      </div>
                    <button id="new-comment-submit" class="btn btn-primary">Add  Comment</button>
                  </form>
                </div>
                <div id="user-comment-list">
                {{#each store.Store_Comments}}
                  <div class="store-user-comment" data-comment-id="{{id}}">
                    <h5 data-user-id="{{User.id}}">{{User.first_name}} says:</h5>
                    <form>
                      <textarea class="user-comment-textarea" readonly>{{comment}}</textarea><br>
                      <strong>Posted:</strong> {{updatedAt}}<br>
                      <button class="user-edit-comment" data-user="{{User.id}}" data-comment="{{id}}" data-store="{{store.id}}" style="display:none;">Edit</button>
                      <button class="user-save-comment" data-user="{{User.id}}" data-comment="{{id}}" data-store="{{store.id}}" style="display:none;">Save/Cancel</button>
                      <button class="user-delete-comment" data-user="{{User.id}}" data-comment="{{id}}" data-store="{{store.id}}" style="display:none;">Delete</button>
                    </form>
                    <hr>
                  </div>
                {{/each}}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


